In [8]:
# load and clean-up data
import numpy as np
import pandas as pd
from keras.models import Model
from numpy import array
import matplotlib.pyplot as plt
 
# load raw data
dataset = pd.read_csv('../input/household_power_consumption.txt', sep=';', header=0, low_memory=False, infer_datetime_format=True, parse_dates={'datetime':[0,1]}, index_col=['datetime'])
print(dataset.shape)
dataset.head(10)

                    Global_active_power      ...       Sub_metering_3
datetime                                     ...
2006-12-16 17:24:00               4.216      ...                 17.0
2006-12-16 17:25:00               5.360      ...                 16.0
2006-12-16 17:26:00               5.374      ...                 17.0
2006-12-16 17:27:00               5.388      ...                 17.0
2006-12-16 17:28:00               3.666      ...                 17.0
2006-12-16 17:29:00               3.520      ...                 17.0
2006-12-16 17:30:00               3.702      ...                 17.0
2006-12-16 17:31:00               3.700      ...                 17.0
2006-12-16 17:32:00               3.668      ...                 17.0
2006-12-16 17:33:00               3.662      ...                 16.0

[10 rows x 7 columns]

In [9]:
# fill missing values with a value at the same time one day ago
def fill_missing_data(values):
    one_day = 60 * 24
    for row in range(values.shape[0]):
        for col in range(values.shape[1]):
            if np.isnan(values[row, col]):
                values[row, col] = values[row - one_day, col]

In [10]:
dataset.replace('?', np.nan, inplace=True)
# make dataset numeric
dataset = dataset.astype('float32')
# fill missing
fill_missing_data(dataset.values)
# add a column for for the remainder of sub metering
values = dataset.values
dataset['sub_metering_4'] = (values[:,0] * 1000 / 60) - (values[:,4] + values[:,5] + values[:,6])
# save updated dataset
dataset.to_csv('household_power_consumption.csv')
dataset.head(10)

                     Global_active_power       ...        sub_metering_4
datetime                                       ...
2006-12-16 17:24:00                4.216       ...             52.266670
2006-12-16 17:25:00                5.360       ...             72.333336
2006-12-16 17:26:00                5.374       ...             70.566666
2006-12-16 17:27:00                5.388       ...             71.800003
2006-12-16 17:28:00                3.666       ...             43.099998
2006-12-16 17:29:00                3.520       ...             39.666668
2006-12-16 17:30:00                3.702       ...             43.700001
2006-12-16 17:31:00                3.700       ...             43.666668
2006-12-16 17:32:00                3.668       ...             43.133335
2006-12-16 17:33:00                3.662       ...             43.033333

[10 rows x 8 columns]

In [11]:
# load the new file
dataset = pd.read_csv('household_power_consumption.csv', header=0, infer_datetime_format=True, parse_dates=['datetime'], index_col=['datetime'])
# resample data to daily
daily_groups_data = dataset.resample('D')
daily_data = daily_groups_data.sum()
# summarize
print(daily_data.shape)
# save
daily_data.to_csv('household_power_consumption_days.csv')
daily_data.head(10)

(1442, 8)

            Global_active_power       ...        sub_metering_4
datetime                              ...
2006-12-16             1209.176       ...          14680.933319
2006-12-17             3390.460       ...          36946.666732
2006-12-18             2203.826       ...          19028.433281
2006-12-19             1666.194       ...          13131.900043
2006-12-20             2225.748       ...          20384.800011
2006-12-21             1723.288       ...          13808.466697
2006-12-22             2341.338       ...          24390.300043
2006-12-23             4773.386       ...          61736.433386
2006-12-24             2550.012       ...          28824.199967
2006-12-25             2743.120       ...          31341.666629

[10 rows x 8 columns]

In [16]:
# split a univariate dataset into train/test sets
# split into standard weeks
data=daily_data.values
train, test = data[1:-328], data[-328:-6]
# restructure into windows of weekly data
train = array(np.split(train, len(train)/7))
test = array(np.split(test, len(test)/7))
print(train.shape)
print(test.shape)

(159, 7, 8)
(46, 7, 8)